<table class="striped">
  <thead>
    <tr>
        <th>N°Facture</th>
        <th>Client</th>
        <th>Montant a régler</th>
        <th>Accompte</th>
        <th>Statut</th>
        <th>Reste a percevoir</th>
        <th>Date limite de reglement</th>
        <th>Statut</th>
        <th>1ère relance  email</th>
        <th>2ème relance téléphonique</th>
        <th>Paiement réel</th>
        <th>Ecart (en jour)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Facture</td>
      <td>Client 1</td>
      <td>Montant 1</td>
      <td>Accompte 1</td>
      <td>Statut 1</td>
      <td>Reste 1</td>
      <td>Date limite 1</td>
      <td>Statut bis 1</td>
      <td>relance email 1</td>
      <td>relance téléphonique 1</td>
      <td>paiement réel 1</td>
      <td>Ecart 1</td>
    </tr>
    <tr>
      <td>facture 1</td>
      <td>client 1</td>
      <td>Montant 1</td>
      <td>Accompte 1</td>
      <td>Statut 1</td>
      <td>Reste 1</td>
      <td>Date limite 1</td>
      <td>Statut bis 1</td>
      <td>relance email 1</td>
      <td>relance téléphonique 1</td>
      <td>paiement réel 1</td>
      <td>Ecart 1</td>
    </tr>
    <tr>
      <td>facture 1</td>
      <td>client 1</td>
      <td>Montant 1</td>
      <td>Accompte 1</td>
      <td>Statut 1</td>
      <td>Reste 1</td>
      <td>Date limite 1</td>
      <td>Statut bis 1</td>
      <td>relance email 1</td>
      <td>relance téléphonique 1</td>
      <td>paiement réel 1</td>
      <td>Ecart 1</td>
    </tr>
    <tr>
      <td>facture 1</td>
      <td>client 1</td>
      <td>Montant 1</td>
      <td>Accompte 1</td>
      <td>Statut 1</td>
      <td>Reste 1</td>
      <td>Date limite 1</td>
      <td>Statut bis 1</td>
      <td>relance email 1</td>
      <td>relance téléphonique 1</td>
      <td>paiement réel 1</td>
      <td>Ecart 1</td>
    </tr>
    <tr>
      <td>facture 1</td>
      <td>client 1</td>
      <td>Montant 1</td>
      <td>Accompte 1</td>
      <td>Statut 1</td>
      <td>Reste 1</td>
      <td>Date limite 1</td>
      <td>Statut bis 1</td>
      <td>relance email 1</td>
      <td>relance téléphonique 1</td>
      <td>paiement réel 1</td>
      <td>Ecart 1</td>
    </tr>
    <tr>
      <td>facture 1</td>
      <td>client 1</td>
      <td>Montant 1</td>
      <td>Accompte 1</td>
      <td>Statut 1</td>
      <td>Reste 1</td>
      <td>Date limite 1</td>
      <td>Statut bis 1</td>
      <td>relance email 1</td>
      <td>relance téléphonique 1</td>
      <td>paiement réel 1</td>
      <td>Ecart 1</td>
    </tr>
    <tr>
      <td>facture 1</td>
      <td>client 1</td>
      <td>Montant 1</td>
      <td>Accompte 1</td>
      <td>Statut 1</td>
      <td>Reste 1</td>
      <td>Date limite 1</td>
      <td>Statut bis 1</td>
      <td>relance email 1</td>
      <td>relance téléphonique 1</td>
      <td>paiement réel 1</td>
      <td>Ecart 1</td>
    </tr>
  </tbody>
  <br>
  <br>
  <br>
  <tfoot>
    <tr>
      <td>Total</td>
      <td>client 1</td>
      <td>Montant 1</td>
      <td>Accompte 1</td>
      <td>Statut 1</td>
      <td>Reste 1</td>
      <td>Date limite 1</td>
      <td>Statut bis 1</td>
      <td>relance email 1</td>
      <td>relance téléphonique 1</td>
      <td>paiement réel 1</td>
      <td>Ecart 2</td>
    </tr>
  </tfoot>
</table>