<header>
  <nav>
    <ul>
      <li><img class='logoHeader' src="assets/images/0.jpg" alt=""></li>
      <li><a routerLink="/projects">Projets</a></li>
      <li><a href="">Suivi</a></li>
      <li><a href=""><i class="material-icons">account_circle</i></a></li>

      <li><a *ngIf="!_auth.loggedIn()" routerLink="/login" routerLinkActive="active">Login</a></li>
      <li><a *ngIf="_auth.loggedIn()" (click)="_auth.logoutUser()">Logout</a></li>

    </ul>


  </nav>
</header>
<script>
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.dropdown-trigger');
    var instances = M.Dropdown.init(elems, options);
  });
</script>

