$GlobalColor:  #3d4451

nav 

    background: $GlobalColor
    align-items: center
    border: none
    position: fixed
    width: 100vw
    ul
        display: flex
        justify-content: space-around
       
    img
        width: 50px
        height: 50px
        margin-top: 7px

.material-icons
    font-size: 45px
    margin-top: 5px
