<h3>Création d'un compte client</h3>
<div class="row">
   <form class="col s12">
     <div class="row">
       <div class="input-field col s7">
         <input  type="text" class="validate">
         <label for="first_name">Client</label>
       </div>

       <div class="input-field col s7">
         <input id="last_name" type="text" class="validate">
         <label for="last_name">Entreprise</label>
       </div>
     </div>

     <div class="row">
       <div class="input-field col s7">
         <input id="email" type="email" class="validate">
         <label for="email">Email</label>
       </div>
     </div>

     <div class="row">
       <div class="input-field col s7">
         <input id="password" class="validate">
         <label for="password">Téléphone</label>
       </div>
     </div>

     <div class="row">
       <div class="input-field col s7">
         <input id="email" class="validate">
         <label for="email">Addresse</label>
       </div>
     </div>

     <div class="row">
       <div class="input-field col s7">
         <input id="email" type="text" class="validate">
         <label for="email">Ville</label>
       </div>
     </div>

     <div class="row">
       <div class="input-field col s7">
         <input id="email" type="text" class="validate">
         <label for="email">Code postal</label>
       </div>
     </div>

   </form>
 </div>
