<app-project-main [Project]= Project [selected]= selected></app-project-main>
<nav>
  <ul>

    <li class="sidebar-first-title">
      <a href="#"><h5>Projet : {{this.Project.name}}</h5></a>
    </li>

    <li>
      <a class="sidebar-subtitle first-subtitle">Facture</a>
      <div>
        <ul>
          <li *ngFor="let Bill of Bill" (click)="onSelect(this.Bill)"><a>{{this.Bill.bill_number}}</a></li>
        </ul>
      </div>
    </li>

    <li>
      <a class="sidebar-subtitle">Devis</a>
        <div>
          <ul>
            <li (click)="onSelect(this.Quotation)" *ngFor="let Quotation of Quotation"><a>{{this.Quotation.quotation_number}}</a></li>
          </ul>
        </div>
    </li>
  </ul>
</nav>
