<nav>
  <ul>

    <li class="sidebar-first-title">
      <a href="#"><h5>Projet : {{this.Project.name}}</h5></a>
    </li>

    <li>
      <a class="sidebar-subtitle first-subtitle">Devis</a>
      <div>
        <ul>
          <li><a href="#">Devis_01</a></li>
          <li><a href="#">Devis_02</a></li>
        </ul>
      </div>
    </li>

    <li>
      <a class="sidebar-subtitle">Facture</a>
      <div>
        <ul>
          <li><a href="#">Facture_01</a></li>
          <li><a href="#">Facture_02</a></li>
          <li><a href="#">Facture_03</a></li>
          <li><a href="#">Facture_04</a></li>
        </ul>
      </div>
    </li>
  </ul>
</nav>
