nav
  width: 300px
  height: calc(100vh - 64px)
  position: fixed
  background: #556080

a
  color: white

nav ul li ul
  display: flex
  flex-direction: column
  padding-left: 10%

nav ul
  display: flex
  flex-direction: column

.sidebar-subtitle
  padding-left: 10%
  font-size: 20px

.first-subtitle
  margin-top: 10px


.sidebar-first-title
  text-align: center
  margin-top: 15px
  pointer-events: none

nav ul li ul li
  line-height: 40px
