<ul class="collection with-header">
   <div class="row test">
      <div class="col s7 offset-s2 devis">Devis en attente</div>
      <div class="col s3 créer">Créer</div>
  </div>

  <hr>

  <div class="row">
    <div class="col s2 offset-s2 textbold">Nom-Nom du projet</div>
    <div class="col s2 offset-s3" ><a class="unclickable">Supprimer</a></div>
    <div class="col s2 offset-s1 textbold">XX/XX/XXXX</div>
  </div>

  <hr>

  <div class="row">
      <div class="col s2 offset-s2 textbold">Nom-Nom du projet</div>
      <div class="col s2 offset-s3" ><a class="unclickable">Supprimer</a></div>
      <div class="col s2 offset-s1 textbold">XX/XX/XXXX</div>
    </div>

  <hr>

    <div class="row">
        <div class="col s2 offset-s2 textbold">Nom-Nom du projet</div>
        <div class="col s2 offset-s3" ><a class="unclickable">Supprimer</a></div>
        <div class="col s2 offset-s1 textbold">XX/XX/XXXX</div>
      </div>

      <hr>

      <div class="row">
          <div class="col s2 offset-s2 textbold">Nom-Nom du projet</div>
          <div class="col s2 offset-s3" ><a class="unclickable">Supprimer</a></div>
          <div class="col s2 offset-s1 textbold">XX/XX/XXXX</div>
        </div>

  </ul>
