<ul class="collection with-header">
   <div class="row test">
      <div class="col s7 offset-s2 devis">Devis en attente</div>
      <div class="col s3 créer">Créer</div>
  </div>

  <div *ngFor="let Quotation of Quotation">
  <hr>
  <div class="row" >
    <div class="col s2 offset-s2 textbold">{{Quotation.name}} - {{Quotation.project_name}}</div>
    <div class="col s2 offset-s3" ><a class="unclickable">Supprimer</a></div>
    <div class="col s2 offset-s1 textbold">{{Quotation._created_at | date }}</div>
    </div>
  </div>
  </ul>
