@font-face
    font-family: 'sofiapro-light'
    src: url('/assets/font/sofiapro-light.otf') format('opentype')

.container
  width: 100vw
  display: flex
.logo
  margin-top: 75px
  width: 300px
  margin-left: calc(50vw - 150px)
h2
  margin-top: 0px
  text-align: center
  font-family: 'sofiapro-light', sans-serif
.subtitle
  text-align: center
.material-icons
  font-size: 40px
.flexcontainer
  width: 60vw
  margin: auto
  display: flex
  margin-top: 75px
  justify-content: space-between
.item
  display: flex
  flex-direction: column
  align-items: center
h5
  text-align: center
  font-family: 'sofiapro-light', sans-serif
.number
  font-size: 1.5rem
.bottom-logo
  width: 90px
  height: 90px
  position: fixed
  right: 15px
  bottom: 15px
i
  color: #2F3C42
