  <img class="logo" src="assets/images/tribord.png" alt="">
  <h2>Hello matelot!</h2>
  <h5 clas='subtitle'>Bienvenu dans le service comptabilité de Tribord Digital</h5>
<div class="flexcontainer">
  <div class="item">
<h5 class="number">72</h5><h5>Projets en cours</h5><i class=" material-icons">access_time</i>
  </div>
  <div class="item">
<h5 class="number">32</h5><h5>Projets terminé</h5><i class="  material-icons">archive</i>
  </div>
  <div class="item">
    <h5 class="number">2</h5><h5> contentieux</h5><i class=" material-icons">warning</i>
  </div>
</div>
  <img class="bottom-logo" src="assets/images/pVtI72nC_400x400.jpeg" alt="">
