

<main>
  <h1>Les projets</h1>
  <a class="btn-floating btn-large waves-effect waves-light blue-grey search"><i class="material-icons">search</i></a>
  <div>
    <ul>
      <li><a href=""><img src="/assets/images/folderAdd.png" alt=""></a></li>
      <li *ngFor="let Project of Project">
        <a routerLink="/project-single">
          <img src="assets/images/folderDone.png" alt="">
          <p>{{Project.name}}</p>
        </a>
      </li>
    </ul>
  </div>
</main>

<a [ngSwitch]="statut">
  <img *ngSwitchCase="'done'" src="assets/images/folderDone.png" alt="">
  <img *ngSwitchCase="'error'" src="assets/images/folderError.png" alt="">
</a>