<main>
  <h1>Les projets</h1>
  <a class="btn-floating btn-large waves-effect waves-light blue-grey search"><i class="material-icons">search</i></a>
  <div>
    <ul>
      <li><a routerLink="/create-project"><img src="/assets/images/folderAdd.png" alt=""></a></li>
      <li *ngFor="let Project of Project">
        <a [ngSwitch]="this.Project.status" routerLink="/project/{{this.Project.id}}">
          <img style="width: 200px; height: 200px" *ngSwitchCase="1" src="assets/images/folderInProgress.png" alt="">
          <img style="width: 200px; height: 200px" *ngSwitchCase="0" src="assets/images/folderDone.png" alt="">
          <img style="width: 200px; height: 200px" *ngSwitchCase="2" src="assets/images/folderError.png" alt="">
          <h5>{{this.Project.name}}</h5>
        </a>
      </li>
    </ul>
  </div>
</main>
