button
    border: none
    img
        width: 30px
        height: 30px
main
    //padding-top: 64px
    .search
        position: fixed
        right: 20px
div
    padding: 0 50px
    
    ul
        display: flex
        justify-content: flex-start
        flex-wrap: wrap
        li
            a
                margin: 0 10px
                p
                    text-align: center
                img
                    width: 200px
                    height: 200px

img:hover
    opacity: .7
    padding: 10px
    transition: .2s
    
h1
    margin-left: 55px
