@font-face
    font-family: 'sofiapro-light'
    src: url('/assets/font/sofiapro-light.otf') format('opentype')
*
  font-family: 'sofiapro-light', sans-serif

.container
  margin-left: 300px
  width: calc(100vw - 300px)
  height: 100%
  display: flex
  position: fixed
.client
  padding-left: 5%
  padding-top: 3%
